<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=".\MenuBar.css" type="text/css" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="icon">
    <label for="icon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div id="menubar">
        <br>
        <br>
        <hr>
        <br/>
        <div class="profile">
            프로필 영역
        </div>
        <br/>
        <br/>
        <div>
            <ul class="menu">
                <li><a href="#">여행 계획하기</a></li>
                <li><a href="#">MY 여행</a></li>
                <li><a href="#">여행 비용</a></li>
                <li><a href="#">1 : 1 문의등록</a></li>
                <li><a href="#">MY 문의내역</a></li>
            </ul>
        </div>
    </div>
</body>
</html>